body {
    background-color: rgb(65,65,65);
}
.row  {
    width: 100.5%;
    overflow-x: scroll;
    height: 89%;
}

.myBlack  {
    color:rgb(42,36,36);
}

#container  {
    height: 100%;
    width: 100%;
    white-space:nowrap;
}

#day-header {
    white-space: nowrap;
    color:rgb(230,242,172);

}

#day-time   {
    white-space: nowrap;
    color:rgb(174,174,174);
}

.outerlist  {

}

@font-face {
    font-family: myFirstFont;
    src: url('../fonts/Parisienne-Regular.ttf');
}

.myClass {
    cursor:pointer;
    font-family: myFirstFont;
    font-size: 150%;
    color: rgb(24,40,56);
}

.myClass2   {
    width:85%
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.breaks {
    width:100%;
    height:100px;
    margin-left:2%;
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
}