.row  {
    width: auto;
    overflow-x: scroll;
    height: 100%;

}

#container  {
    height: 100%;
    width: 100%;
    white-space:nowrap;
}

#day-header {
    width: 100%;
    white-space: nowrap;
}

#day-time   {
    width: 100%;
    white-space: nowrap;
}
.outerlist  {

}

@font-face {
    font-family: myFirstFont;
    src: url('../fonts/Parisienne-Regular.ttf');
}

.myClass {

}

.myClass2   {

}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.breaks {
    width:100%;
    height:100px;
    margin-left:2%;
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
}